In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file = 'dados_marketing.csv'

In [4]:
df = pd.read_csv(file, encoding = 'utf-8', sep=';', parse_dates=['Data Cadastro'], decimal=',')

### Verificando e aumentando o número de colana visualizaveis do Data Frame

In [5]:
pd.get_option('display.max_columns')

20

In [6]:
pd.set_option('display.max_columns', 50)

In [7]:
df.shape

(2000, 27)

In [8]:
df.columns

Index(['ID', 'Ano Nascimento', 'Escolaridade', 'Estado Civil', 'Salario Anual',
       'Filhos em Casa', 'Adolescentes em Casa', 'Data Cadastro',
       'Dias Desde Ultima Compra', 'Gasto com Eletronicos',
       'Gasto com Brinquedos', 'Gasto com Moveis', 'Gasto com Utilidades',
       'Gasto com Alimentos', 'Gasto com Vestuario',
       'Numero de Compras com Desconto', 'Numero de Compras na Web',
       'Numero de Compras via Catalogo', 'Numero de Compras na Loja',
       'Numero Visitas WebSite Mes', 'Compra na Campanha 1',
       'Compra na Campanha 2', 'Compra na Campanha 3', 'Compra na Campanha 4',
       'Compra na Campanha 5', 'Comprou', 'Pais'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2000 non-null   int64
 1   Ano Nascimento                  2000 non-null   int64
 2   Escolaridade                    2000 non-null   object
 3   Estado Civil                    2000 non-null   object
 4   Salario Anual                   1981 non-null   float64
 5   Filhos em Casa                  2000 non-null   int64
 6   Adolescentes em Casa            2000 non-null   int64
 7   Data Cadastro                   2000 non-null   datetime64[ns]
 8   Dias Desde Ultima Compra        2000 non-null   int64
 9   Gasto com Eletronicos           2000 non-null   int64
 10  Gasto com Brinquedos            2000 non-null   int64
 11  Gasto com Moveis                2000 non-null   int64
 12  Gasto com Utilidades            2000 non-null   int64
 13  Gasto com Alimentos             2000 non-null   int64
 14  Gasto com Vestuario             2000 non-null   int64
 15  Numero de Compras com Desconto  2000 non-null   int64
 16  Numero de Compras na Web        2000 non-null   int64
 17  Numero de Compras via Catalogo  2000 non-null   int64
 18  Numero de Compras na Loja       2000 non-null   int64
 19  Numero Visitas WebSite Mes      2000 non-null   int64
 20  Compra na Campanha 1            2000 non-null   int64
 21  Compra na Campanha 2            2000 non-null   int64
 22  Compra na Campanha 3            2000 non-null   int64
 23  Compra na Campanha 4            2000 non-null   int64
 24  Compra na Campanha 5            2000 non-null   int64
 25  Comprou                         2000 non-null   int64
 26  Pais                            2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(22), object(3)
memory usage: 422.0+ KB

In [10]:
df.head()

,ID,Ano Nascimento,Escolaridade,Estado Civil,Salario Anual,Filhos em Casa,Adolescentes em Casa,Data Cadastro,Dias Desde Ultima Compra,Gasto com Eletronicos,Gasto com Brinquedos,Gasto com Moveis,Gasto com Utilidades,Gasto com Alimentos,Gasto com Vestuario,Numero de Compras com Desconto,Numero de Compras na Web,Numero de Compras via Catalogo,Numero de Compras na Loja,Numero Visitas WebSite Mes,Compra na Campanha 1,Compra na Campanha 2,Compra na Campanha 3,Compra na Campanha 4,Compra na Campanha 5,Comprou,Pais
0,2795,1958,Mestrado,Solteiro,30523.0,2,1,2020-07-01,0,5,0,3,0,0,5,1,1,0,2,7,0,0,0,0,0,0,Chile
1,2285,1954,Mestrado,Casado,36634.0,0,1,2023-05-12,0,213,9,76,4,3,30,3,5,2,5,7,0,0,0,0,0,0,Espanha
2,115,1966,Mestrado,Solteiro,43456.0,0,1,2023-03-02,0,275,11,68,25,7,7,3,5,1,8,5,0,0,0,0,0,0,Argentina
3,10470,1979,Mestrado,Solteiro,40662.0,1,0,2023-03-05,0,40,2,23,0,4,23,2,2,1,3,4,0,0,0,0,0,0,Alemanha
4,4065,1976,Doutorado,Solteiro,49544.0,1,0,2020-02-11,0,308,0,73,0,0,23,2,5,1,8,7,0,0,0,0,0,0,Estados Unidos

In [13]:
total_cliente = df['ID'].nunique()
print(f"Total de Clientes = {total_cliente}")

Total de Clientes = 2000

In [16]:
media_salario = df['Salario Anual'].mean()
print(f"Média de Salário Anual = {media_salario}")

Média de Salário Anual = 52290.85259969712